/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 @import url("https://use.typekit.net/qvx6elt.css");
/* Styles for the body */

body {
	font-family: "operetta-12", serif;
font-weight: 400;
font-style: normal;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */
.dotted-box {
    border: 3px dotted black; /* Creates a dotted border */
    padding: 20px;
    width: 300px;
    text-align: center;
}

.resume-header {
    background-color:#BDD393
}

.resume-main {
	background-color:#EDE7D9
}

.resume-aside {
	background-color:#E8D6CB
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.funky-text {
	color: #5A1016;
	text-align: left;
	font-style: italic;
	text-decoration: underline #F5D491;
}
.change-color-level {
	background-color:crimson
}